@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

:root {
  font-family: Work Sans, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: #292e3d;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

p {
  color: var(--neutral-400, #858ead);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.rep-card {
  border-radius: 4px;
  border: 1.4px solid var(--neutral-100, #e0e3eb);
  background: #fff;
  /* margin: 0 33px; */
  padding: 20px 20px 40px 20px;
}

.services-card {
  display: flex;
  width: 271px;
  height: 181px;
  padding: 20px;
  margin-bottom: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 37px -2px rgba(17, 24, 39, 0.05);
}

.services-card_divider {
  width: 25%;
  height: 3px;
  background: #e0e3eb;
}

.stats-card {
  position: relative;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
